@charset "UTF-8";

body{
    background-color: #71B340;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #3C5A14;
}

h1#principal{
    text-align: center;
    background-color: green;
    color: white;
}

h2{
    color: #1b2e0d;
}

.basico{
    color: #4b5a14;
}